.nav-item{
background-color:#202124;
color: skyblue;
}

.nav-link{
color: lightblue;
}

.nav-link:hover{
color: lavender;
}

#myTab{
background-color: #202124;
}

#myTabContent{
background-color: #202124;
}

.jumbotron{
background-image: url("images/cs3-hero-image.png");
color: #202124;
height: 400px;
margin-bottom: 0px;
}

#main-title{
color: white;
}

.time-stamp{
display: flex;
align-items: center;
margin-top:2%;
color: white;
}

.heroButton{
background-color:lightblue;
color: black;
font-style: bold;
border-radius: 20px;
padding: 13px 25px;
text-align: center;
text-decoration: none;
font-size: 16px;
transition-duration: 0.4s;
cursor: pointer;
}

.heroButton:hover {
background-color:skyblue;
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


h1{
text-align: center;
margin-top: 90px;
font-weight:800px;
}

h2{
text-align: center;
padding: 20px;
color: skyblue;
margin-bottom: 0px;
}

h3{
margin: 30px;
}

h5{
text-align: center;
}

.overview-panel{
justify-content: center;
background-color:#202124;
color: white;
padding: 40px;
}

.process-overview-cards{
display: flex;
flex-direction: row;
justify-content: center;
background-color:#202124;
}

.card{
background-color:#202124;
color:white;
}

.overview-icon{
display: flex;
justify-content: center;
color: white;
}

.icons{
display: flex;
justify-content: center;
}

.icon{
padding: 30px;
}

#research{
color:#202124;
padding: 40px;
}

.research-synthesis-container{
background-color: #E4F6F8;
height: 500px;
}

.problem-statement-container{
background-color:#202124;
padding: 80px;
}

#problem-statement-copy{
color: white;
}

#blue-card{
background-color: #E4F6F8;
}

.mid-fi-img{
display: flex;
justify-content: center;
}

.mid-fi-img:hover{
transform: scale(1.5);
transition: transform .4s;
}

.mid-fi-title-container{
background-color: #E4F6F8;
}

#mid-fi-title{
background-color: #E4F6F8;
color: #202124;
}

#mid-fi-container{
color: #202124;
justify-content: center;
}

#high-fi-prototype-title{
background-color:#E4F6F8;
color:#202124;
padding: 20px;
}

#high-fi-container{
color: #202124;
justify-content: center;
}

.high-fi-img{
display: flex;
justify-content: center;
}

.high-fi-img:hover{
transform: scale(1.5);
transition: transform .4s;
}


.media{
background-color:#202124;
color: white;
}

.usability-testing-chart{
padding: 100px 0px 0px 0px;
}

#usability-testing-title{
text-align: center;
}

.usability-testing-copy{
margin: 50px;
}

.ml-3{
padding: 30px;
}

.solution-top{
background-color:#202124;
color: white;
padding: 80px;
}

#conclusion-and-future-opportunities{
color:#202124;
}

.solution-bottom{
background-color:#E4F6F8;
padding: 80px;
}

.coded-prototype-url{
display: flex;
align-items: center;
}